<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<div [ngStyle]="{'background-color': 'red'}"></div>
<hr>
<h2>Custom Attribute Directive</h2>
<div [highlight]="'blue'" [defaultColor]="'red'">Some Text</div>
<hr>
<h1>Structural Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<template [ngIf]="switch">
    <div>
        Conditional Text
    </div>
</template>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
    <li *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})</li>
</ul>
<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default</p>
</div>
<p [ngSwitch]="value">
  <template [ngSwitchCase]="10">10</template>
  <template [ngSwitchCase]="100">100</template>
  <template ngSwitchDefault>Default</template>
</p>
<h2>UnlessDirective</h2>
<div *unless="switch">Conditional Text</div>

<br><br><br><br><br><br><br><br><br>
